[user]
	name = mamachanko
	email = sugardubz@gmail.com

[github]
	name = mamachanko

[gpg]
	program = /usr/local/bin/krgpg

[tag]
	forceSignAnnotated = true

[commit]
	gpgSign = true

[core]
	editor = vim

[alias]
    lol = log --graph --decorate --pretty=oneline --abbrev-commit
    lola = log --graph --decorate --pretty=oneline --abbrev-commit --all

[color]
    branch = auto
    diff = auto
    interactive = auto
    status = auto
